fastapi
uvicorn
pillow
numpy
opencv-python-headless
supabase
python-multipart
#tensorflow-cpu
requests
jinja2
python-dotenv
PyJWT
bcrypt
pandas
matplotlib
seaborn
scikit-learn
tqdm
beautifulsoup4
ultralytics
